language: node_js
node_js:
- '8'
- '7'
- '6'
env:
- CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
matrix:
  fast_finish: true
cache: yarn
before_install:
- yarn config set no-progress
- yarn global add greenkeeper-lockfile@1
before_script: greenkeeper-lockfile-update
script: yarn test-with-coverage
after_script: greenkeeper-lockfile-upload
after_success: yarn coverage
deploy:
  provider: npm
  email: mlahlou@protonmail.ch
  api_key:
    secure: yS8DI0dI3FRdUjM6z7FmGJMWb+M2WpTys0QAxhmGaYP5TG3iWX4nkZFMij7nmPsxD3UX8uNnr1HTQh8EnKDtVmZKe9xJfrdRXGjK85uFGJsgfzBF0bAogRNBBnyhksuq85LeFk/TMaPguHzQorpuXnzHY9JUcPoCGEMYECZbnDVdOMJIyn/g7q6mt/WyNmqfXFBn0qKO46hc9JQhqvkwBmgOEiycQ8WwIFwPNoLYyPSxGmQoGSJwCXZXnmOWAXmTDHFuDu8WwPU+pFLglMFI2M8n1spviHdMcStb2S0C1bN75nmNIUQnhfbYAhtosW25r3SwZnvKi5RWnIxIQ8+mnQwpCvxWSO07psw+A+Ms8i4WeMjvF8ckbgIfHHwffwEapEZftYiWQX1H5J8AZ7oSxclGzrZmTYw9bpVLil98bpA0vW4d4iRLfPpPsApaTXT+2C9VRP6DoQz6+LQsPMi3pwS8qsTtOQfm5gtT6gzzumj6ZgniGFBpC+kfIc2E18AO/EqEsbPqGp8Rr0udmQUqyBxphNK/IlHk+tsAGpJsCE+VRW3iRG+uzxTtDDwSVFJRNnhemRY8zt6f7ka/kwIs2VRdUUW9EIxmumETdCvsDFE2Cfa6Kd0dJg5DLagYIswDDzN8ZM1fzYX030yHNu7Negg6xcf24W1DUWqf8qZl0NM=
  on:
    tags: true
    node: '8'
  skip_cleanup: true
